<div class="p-6 bg-[#fdfaf6] min-h-screen">
    <h2 class="text-2xl font-bold text-[#00a63e] mb-4">Products</h2>

    <div class="grid grid-cols-2 gap-6">
        <div *ngFor="let prod of products"
            class="border-2 border-black rounded-3xl shadow-lg p-4 bg-white hover:shadow-xl transition-shadow">
            <h3 class="font-semibold text-lg text-[#333] mb-2">{{prod.name}} </h3>
            <p class="text-[#666] mb-4">
                Price: <span class="text-[#d08700] font-bold"> {{prod.price}} </span>
            </p>
            <div class="flex justify-center">
                <button (click)="addTocart(prod)"
                    class="px-4 py-2 bg-[#5ee9b5] hover:bg-[#3cd59a] text-white font-semibold rounded-xl transition-colors">
                    Add To Cart
                </button>
            </div>
        </div>
    </div>
</div>